body {
    background-color: grey;
}

.cool{
    display: none;
    width: 100px;
    height: 100 px;
    background-color: green;
    transition: background-color 1s;
}

.cool.red {
    display: block;
    background-color: red;
}